footer{
    width: 100%;
    background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );
    color: white;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

.footer-logo h1{
    margin-bottom: 0.75rem;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    color: white;
    font-size: 18px;
}

.footer-copyright{
    display: flex;
    justify-content: center;
    background-color: transparent;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    background-color: black;
}